snippet isc
import java.util.Scanner;
endsnippet

snippet iar
import java.util.Arrays;
endsnippet

snippet tos "tostring" b
Arrays.toString($1);
endsnippet

snippet sc
Scanner scanner = new Scanner(System.in);
endsnippet

snippet sort
Arrays.sort($1);
endsnippet
